.modal-image-container{
    width:200px;
    img{
        width: 100%;
    }
    video{
        width: 100%;
    }
    
}
.modal-header{
    display:flex; 
    justify-content: space-between;   
    i{
        cursor: pointer;
    }
}